.picker {
  grid-column: 5/9;
  grid-row: 2/3;
  font-size: 80px;
  padding-bottom: 50px;
  justify-self: center;
  align-self: end;

  input {
    background: clear;
    text-align: center;
    border: none;
    border-bottom: 2px solid #e3b924;
    font-family: $font-main;
    font-weight: bold;
    color: $color-gray-one;

    &:focus {
      outline: none;
    }
  }
}
